/*--- Modifications of existing classes ---*/

body {
  font-family: 'Lato', sans-serif;
}

.container-fluid {
  max-width: 1000px;
  margin: auto;
}

.leaflet-control-layers-list::before {
  content: 'Basemap:';
  font-weight: bold;
}

.leaflet-control-layers-overlays::before {
  content: 'Layers:';
  font-weight: bold;
}

.leaflet-container {
  max-height: min(90vh, 120vw);
}

.tab-pane {
  margin-top: 1em;
}

a, a:hover, a:focus {
  color: #48a67b;
}


/* --- Tab appearance --- */

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

/* removes spurious gap on top left */
.nav:before {
  display: none;
}

/* darker background when in a well panel */
.well > * > .nav > li:not(.active) > a:hover {
  background-color: #dee3e4;
}

.nav-pills > li.active, .nav-pills > li + li {
  margin-left: 0px;
}

.nav-pills > li.active > a {
  border: 1px solid #293e4f;
  font-weight: bold;
}


/*--- Other modifications ---*/

.form-group {
  margin-bottom: 0px;
}

.dataTables_wrapper {
  overflow:  auto;
}

.table {
  margin-bottom: 0px;
}


/*--- New classes ---*/

.notice {
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}

.notice-ok {
  border: 1px solid green;
  background: rgba(0, 255, 0, .1);
  color: green;
}

.notice-error {
  border: 1px solid red;
  background: rgba(255, 0, 0, .1);
  color: red;
}

.notice-text {
  padding-left: 5px;
  padding-right: 5px;
}

.notice-close {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.note {
  font-size: small;
  font-style: italic;
}

.narrow {
  margin-left: 2em;
  margin-right: 2em;
}

.map-container {
  max-width: 1000px;
  margin: auto;
  border: 1px solid lightgrey;
}

.popup-title {
  font-weight: bold;
  text-align: center;
  background: lightblue;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.total-stns-text {
  width: 100%;
  margin: 1em 0;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.data-tab {
  min-height: 300px;
  margin-top: 1em;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.pie-container {
  height: inherit;
  margin: 0;
  flex: 1 0 0;
  min-width: 350px;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.stn-btn {
  width: 34px;
  height: 34px;
  padding: 0;
  font-weight: bold;
  margin-left: 4px;
}

.year-btns {
  align-items: center;
  padding: 10px;
}

.year-btn-text {
  flex: 0;
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 0px;
}

.plot-caption {
  margin: 0.5em 2em;
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

.plot-export {
  margin-left: 2em;
  margin-right: 2em;
  font-size: smaller;
}

.report-tbl * > table>thead>tr>th {
  vertical-align: middle;
  border-bottom: 2px solid #ecf0f1;
}

.report-tbl * > table>tbody>tr>td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .stn-select {
    flex-direction: column;
    margin-bottom: 1em;
  }

  .stn-btns {
    text-align: center;
  }
}
